body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1A1A1D;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.main-text {
  text-align: center;
  font-size: x-large;
  color: #FF652F;
}

.header {
  color: #FF652F;
  font-size: x-large;
}

.main-buttons-container {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
}

.main-button {
  width: 40%;
  height: 200px;
  background-color: #1A1A1D;
  margin: 0 0 1% 0;
  padding: 0;
  border-radius: 20px;
  position: relative;
  font-size: xx-large;
  border: 2px solid #FF652F;
  color: #FF652F;
}

.main-button:focus {
  outline: none;
}

.main-button:hover {
  cursor: pointer;
  color: #1A1A1D;
  background-color: #FF652F;
}
